<footer class="footer">
	<small>
		&copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> Eugenius Lai.
		<span class="footer-social">
		<span class="third-column"><a href="https://github.com/siunegu"><i class="fa fa-github"></i></a></span>
		<span class="third-column"><a href="http://au.linkedin.com/in/siunegu"><i class="fa fa-linkedin"></i></a></span>
		<span class="third-column"><a href="https://twitter.com/Siunegu"><i class="fa fa-twitter"></i></a></span>	
		</span>
	</small>

	<div class="center-content">

	</div>
</footer>